<div>
  <%= render 'tweet/tweet' %>
  <% if @collected_tweets.find_by(tweet_status_id: @tweet.id).nil? %>
    <%= form_with url: collect_twitter_post_create_path, method: :post, model: Testimonial do |form| %>
      <%= form.hidden_field :name, value: @tweet.user.name %>
      <%= form.hidden_field :testimonial, value: @tweet.full_text %>
      <%= form.hidden_field :social_link, value: @tweet.user.url.to_s %>
      <%= form.hidden_field :tweet_status_id, value: @tweet.id %>
      <%= form.hidden_field :tweet_url, value: @tweet.url.to_s %>
      <%= form.hidden_field :tweet_user_id, value: @tweet.user.id %>
      <%= form.hidden_field :tweet_image_url, value: @tweet.user.profile_image_url_https(:original).to_s %>
      <%= form.submit "Collect" %>
    <% end %>
  <% else %>
    <%= button_to 'Remove', collect_delete_tweet_path(@tweet.id), method: :delete %>
  <% end %>
</div>
<hr>