<%= render 'shared/page_content', page_title: 'Fire Link' do %>
  <% if @fire_link.present? %>
    <%= render 'alerts/message' do %>
      <p>This is your Fire Link. Use it to <strong>collect testimonials</strong> from your users by sharing it's URL or
        sending it via email.</p>
    <% end %>

    <div class="grid place-items-center relative bg-white shadow-2xl rounded-xl">
      <div class=" text-gray-700 rounded shadow-lg p-6 w-full flex flex-col justify-between items-between space-y-3">
        <div class="flex flex-col space-y-3 md:flex-row items-stretch md:space-y-0 md:space-x-4">
          <%= image_tag @fire_link.logo.variant(resize_to_limit: [300, 300]), height: 300, width: 300 %>
          <div class="flex flex-col space-y-3 justify-between w-full">
            <h1 class="font-black text-2xl"><%= @fire_link.url %></h1>
            <%= render "shared/copy_clipboard", key: @fire_link.slug, content: collect_from_fire_link_new_url(@fire_link.slug, subdomain: false) %>
          </div>
        </div>
        <% if @fire_link.note.present? %>
          <div class="flex flex-col space-y-1">
            <p class="font-black">Note:</p>
            <%= @fire_link.note if @fire_link.note.present? %>
          </div>
        <% end %>
        <div class="flex flex-col">
          <p class="font-black">Required fields:</p>
          <% [{ "Social link": @fire_link.social_link_required }, { "Job & Company": @fire_link.job_required }, { "Image": @fire_link.image_required }].each do |item| %>
            <% item.each do |key, required| %>
              <div class="flex flex-row justify-between items-center">
                <p><%= key %></p>
                <% if required %>
                  <svg class="w-5 h-5 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                    <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"/>
                  </svg>
                <% else %>
                  <svg class="w-5 h-5 text-red-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                    <path fill-rule="evenodd" d="M13.477 14.89A6 6 0 015.11 6.524l8.367 8.368zm1.414-1.414L6.524 5.11a6 6 0 018.367 8.367zM18 10a8 8 0 11-16 0 8 8 0 0116 0z" clip-rule="evenodd"/>
                  </svg>
                <% end %>
            <% end %>
            </div>
          <% end %>
        </div>
        <div class="flex flex-col border-t space-y-4">
          <div class="flex flex-row space-x-3 justify-end items-center pt-5">
            <%= link_to collect_send_email_new_path(@fire_link.slug), class: "w-10 h-8 flex justify-center items-center hover:bg-gray-800 text-white bg-gray-600 rounded mr-auto" do %>
              <svg class="w-5 h-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                <path d="M2.003 5.884L10 9.882l7.997-3.998A2 2 0 0016 4H4a2 2 0 00-1.997 1.884z"/>
                <path d="M18 8.118l-8 4-8-4V14a2 2 0 002 2h12a2 2 0 002-2V8.118z"/>
              </svg>
            <% end %>

            <%= link_to edit_fire_link_path(@fire_link), class: "w-10 h-8 bg-yellow-300 hover:bg-yellow-500 text-white rounded flex justify-center items-center" do %>
              <svg class="w-5 h-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                <path d="M17.414 2.586a2 2 0 00-2.828 0L7 10.172V13h2.828l7.586-7.586a2 2 0 000-2.828z"/>
                <path fill-rule="evenodd" d="M2 6a2 2 0 012-2h4a1 1 0 010 2H4v10h10v-4a1 1 0 112 0v4a2 2 0 01-2 2H4a2 2 0 01-2-2V6z" clip-rule="evenodd"/>
              </svg>
            <% end %>
            <%= link_to @fire_link, method: :delete, data: { confirm: 'Continue with deletion?' }, class: "w-10 h-8 box-border hover:bg-red-400 hover:text-white border-2 border-red-400 text-red-400 rounded flex justify-center items-center" do %>
              <svg class="w-5 h-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd" d="M9 2a1 1 0 00-.894.553L7.382 4H4a1 1 0 000 2v10a2 2 0 002 2h8a2 2 0 002-2V6a1 1 0 100-2h-3.382l-.724-1.447A1 1 0 0011 2H9zM7 8a1 1 0 012 0v6a1 1 0 11-2 0V8zm5-1a1 1 0 00-1 1v6a1 1 0 102 0V8a1 1 0 00-1-1z" clip-rule="evenodd"/>
              </svg>
            <% end %>
          </div>
          <p>
            <strong>Collected:</strong>
            <%= "#{@fire_link.testimonials.count} testimonial#{"s" if @fire_link.testimonials.count != 1}" %>
          </p>
        </div>
      </div>
    </div>
  <% else %>
    <%= render 'alerts/info' do %>
      <p>You don't have a Fire Link
        yet. <%= link_to "Create one now", new_fire_link_path, class: "link-bold" %> to proceed.</p>
    <% end %>
  <% end %>
<% end %>