<% active_class = 'bg-purple-600 text-white hover:bg-purple-600' %>
<% non_active_class = 'text-gray-50 hover:bg-purple-900 hover:text-white' %>
<% nav_item_class = 'px-3 py-2 rounded-md text-sm font-medium text-white uppercase' %>

<% mobile_active_class = 'bg-purple-600 text-white' %>
<% mobile_non_active_class = 'text-gray-300 hover:bg-purple-900 hover:text-white ' %>
<% mobile_nav_item_class = 'block px-3 py-2 rounded-md text-base font-medium' %>

<div data-controller="dashboard" data-dashboard-hidden-class="hidden">
  <nav class="md:mx-5 md:mt-5 bg-gray-800 md:rounded-2xl">
    <div class="mx-auto px-4 sm:px-6 lg:px-8">
      <div class="flex items-center justify-between h-16">
        <div class="flex items-center w-full">
          <div class="flex-shrink-0">
            <%= image_pack_tag 'media/images/hey_sloth_icon.png', class: "h-8 w-8" %>
          </div>
          <div class="hidden md:block w-full">
            <div class="flex justify-center space-x-16">
              <%= link_to "Dashboard", app_root_path, class: "#{current_controller?('dashboard') ? active_class : non_active_class } #{nav_item_class}" %>
              <%= link_to "HeyWall", hey_wall_path, class: "#{current_controller?('hey_wall') ? active_class : non_active_class } #{nav_item_class}" %>
              <div data-dashboard-target="collectButton">
                <div data-action="click@window->dashboard#clickOutsideCollect" class="flex items-center">
                  <div class="relative">
                    <div>
                      <button data-action="click->dashboard#toggleCollect"
                              class="<%= "#{current_controller?('collect') | current_controller?('fire_link') ? active_class : non_active_class} #{nav_item_class}  focus:bg-purple-900 focus:text-white" %>"
                              id="user-menu" aria-haspopup="true">
                        <span class="sr-only">Open collect menu</span>
                        Collect
                      </button>
                    </div>
                    <div data-dashboard-target="collectOptions" class="z-50 hidden origin-top-right absolute right-0 mt-2 w-48 rounded-md shadow-lg py-1 bg-white ring-1 ring-black ring-opacity-5 text-gray-700" role="menu" aria-orientation="vertical" aria-labelledby="user-menu">
                      <%= link_to 'From Fire link', fire_link_index_path, class: "block px-4 py-2 text-sm hover:bg-gray-200 #{active_class if current_controller?('fire_link')}", role: "menuitem" %>
                      <%= link_to 'I have a Twitter post', collect_twitter_post_new_path, class: "block px-4 py-2 text-sm hover:bg-gray-200 #{active_class if controller_and_action?('collect', 'twitter_post_new')}", role: "menuitem" %>
                      <%= link_to 'Search my Twitter', collect_twitter_search_path, class: "block px-4 py-2 text-sm hover:bg-gray-200 #{active_class if controller_and_action?('collect', 'twitter_search')}", role: "menuitem" %>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
        <div data-dashboard-target="profileButton" class="hidden md:block">
          <div data-action="click@window->dashboard#clickOutsideProfile" class="flex items-center">
            <div class="relative">
              <div>
                <button data-action="click->dashboard#toggleProfile"
                        class="max-w-xs bg-gray-800 rounded-full flex items-center text-sm focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-800 focus:ring-purple-600 <%= class_names({ 'outline-none ring-2 ring-offset-2 ring-offset-gray-800 ring-purple-600': current_controller?('registrations') }) %>"
                        id="user-menu" aria-haspopup="true">
                  <span class="sr-only">Open user menu</span>
                  <img class="h-8 w-8 rounded-full" src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="">
                </button>
              </div>
              <div data-dashboard-target="profileOptions" class="z-50 hidden origin-top-right absolute right-0 mt-2 w-48 rounded-md shadow-lg py-1 bg-white ring-1 ring-black ring-opacity-5 text-gray-700" role="menu" aria-orientation="vertical" aria-labelledby="user-menu">
                <%= link_to 'Account settings', edit_user_registration_path, class: "block px-4 py-2 text-sm hover:bg-gray-200 #{active_class if controller_and_action?('registrations', 'edit')}", role: "menuitem" %>
                <%= link_to 'Log out', destroy_user_session_path, method: :delete, class: "block px-4 py-2 text-sm hover:bg-gray-200", role: "menuitem" %>
              </div>
            </div>
          </div>
        </div>
        <div data-action="click->dashboard#toggleMobileMenu" class="-mr-2 flex md:hidden">
          <button class="bg-gray-800 inline-flex items-center justify-center p-2 rounded-md text-gray-400 hover:text-white hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-800 focus:ring-white">
            <span class="sr-only">Open main menu</span>

            <svg data-dashboard-target="menuOpenIcon" class="block h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"/>
            </svg>
            <svg data-dashboard-target="menuCloseIcon" class="hidden h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"/>
            </svg>
          </button>
        </div>
      </div>
    </div>


    <div data-dashboard-target="mobileMenu" class="hidden md:hidden mobile-menu">
      <div class="px-2 pt-2 pb-3 space-y-1 sm:px-3">
        <%= link_to "Dashboard", app_root_path, class: "#{current_controller?('dashboard') ? mobile_active_class : mobile_non_active_class } #{mobile_nav_item_class}", role: 'menuitem' %>
        <%= link_to "HeyWall", hey_wall_path, class: "#{current_controller?('hey_wall') ? mobile_active_class : mobile_non_active_class } #{mobile_nav_item_class}", role: 'menuitem' %>
        <div class="pt-4 border-t border-gray-600"></div>
        <p class="<%= "#{mobile_nav_item_class}" %> text-gray-400">
          Collect
        </p>
        <div class="mt-3 px-2 space-y-1">
          <%= link_to 'From Fire link', fire_link_index_path, class: "#{current_controller?('fire_link') ? mobile_active_class : mobile_non_active_class } #{mobile_nav_item_class}", role: 'menuitem' %>
          <%= link_to 'I have a Twitter post', collect_twitter_post_new_path, class: "#{controller_and_action?('collect', 'twitter_post_new') ? mobile_active_class : mobile_non_active_class } #{mobile_nav_item_class}", role: 'menuitem' %>
          <%= link_to 'Search my Twitter', collect_twitter_search_path, class: "#{controller_and_action?('collect', 'twitter_search') ? mobile_active_class : mobile_non_active_class } #{mobile_nav_item_class}", role: 'menuitem' %>
        </div>
      </div>
      <div class="pt-4 pb-3 border-t border-gray-600">
        <div class="flex items-center px-5">
          <div class="flex-shrink-0">
            <img class="h-10 w-10 rounded-full" src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="">
          </div>
          <div class="ml-3">
            <div class="text-base font-medium leading-none text-white"><%= current_user.company_name %></div>
          </div>
        </div>
        <div class="mt-3 px-2 space-y-1">
          <%= link_to 'Account settings', edit_user_registration_path, class: "#{controller_and_action?('registrations', 'edit') ? mobile_active_class : mobile_non_active_class } #{mobile_nav_item_class}", role: "menuitem" %>
          <%= link_to 'Log out', destroy_user_session_path, method: :delete, class: "#{mobile_non_active_class } #{mobile_nav_item_class}", role: "menuitem" %>
        </div>
      </div>
    </div>
  </nav>
  <main>
    <div class="mx-auto lg:px-8 flex flex-col justify-center">
      <%= yield %>
    </div>
  </main>
</div>