<div class="shadow-xl rounded sm:overflow-hidden">
  <div class="px-4 py-6 sm:px-6">
    <%= form_with(model: shareable_link) do |form| %>
      <% if shareable_link.errors.any? %>
        <div class="flex flex-col m-4 items-start justify-between">
          <% shareable_link.errors.each do |error| %>
            <p class="text-red-600 text-sm font-black"><%= error.full_message %></p>
          <% end %>
        </div>
      <% end %>
      <div class="space-y-6 md:space-y-10 ">
        <div class="flex space-x-4 items-start w-full md:w-2/3 lg:w-3/5 xl:w-2/5">
          <%= form.label :tag, "Tag*", class: "text-base text-gray-700 font-bold" %>
          <div class="w-full flex flex-col space-y-2">
            <%= form.text_field :tag, class: " border-2 rounded border-gray-300 px-2 py-1 block w-full" %>
            <p class="text-gray-500 text-xs">This will be used to generate the link name.</p>
          </div>
        </div>

        <div class="flex flex-col space-y-2">
          <%= form.label :note, class: "text-base text-gray-700 font-bold" %>
          <p class="text-gray-500 text-xs">This note will be showed to the user who receives this link. Could be
            anything you would like to tell your users.</p>
          <%= form.rich_text_area :note %>
        </div>

        <fieldset>
          <legend class="text-base text-gray-700 font-bold">Obligatory fields</legend>
          <div class="mt-4 space-y-4">
            <div class="flex items-start">
              <div class="flex items-center h-5">
                <%= form.check_box :social_link_required, class: "focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300 rounded" %>
              </div>
              <div class="ml-3 text-sm">
                <%= form.label :social_link_required, "Social Link", class: "font-medium text-gray-700" %>
                <p class="text-gray-500">Social links are important for proof of authentic testimonials.</p>
              </div>
            </div>
            <div class="flex items-start">
              <div class="flex items-center h-5">
                <%= form.check_box :job_required, class: "focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300 rounded" %>
              </div>
              <div class="ml-3 text-sm">
                <%= form.label :job_required, "Job & Company", class: "font-medium text-gray-700" %>
                <p class="text-gray-500">This will require the user to provide both her/his current job and company.</p>
              </div>
            </div>
            <div class="flex items-start">
              <div class="flex items-center h-5">
                <%= form.check_box :image_required, class: "focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300 rounded" %>
              </div>
              <div class="ml-3 text-sm">
                <%= form.label :image_required, "Picture", class: "font-medium text-gray-700" %>
                <p class="text-gray-500">Users must provide an image of themselfs.</p>
              </div>
            </div>
          </div>
        </fieldset>

        <div>
          <label class="text-base text-gray-700 font-bold">
            Logo*
          </label>
          <div class="mt-2 flex justify-center px-6 pt-5 pb-6 border-2 border-gray-300 border-dashed rounded-md">
            <div class="space-y-1 text-center flex justify-center flex-col items-center">
              <svg class="mx-auto h-12 w-12 text-gray-400" stroke="currentColor" fill="none" viewBox="0 0 48 48" aria-hidden="true">
                <path d="M28 8H12a4 4 0 00-4 4v20m32-12v8m0 0v8a4 4 0 01-4 4H12a4 4 0 01-4-4v-4m32-4l-3.172-3.172a4 4 0 00-5.656 0L28 28M8 32l9.172-9.172a4 4 0 015.656 0L28 28m0 0l4 4m4-24h8m-4-4v8m-12 4h.02" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
              <div class="flex text-sm text-gray-600">
                <%= form.label :logo, class: "relative cursor-pointer bg-white rounded-md font-medium text-indigo-600 hover:text-indigo-500 focus-within:outline-none focus-within:ring-2 focus-within:ring-offset-2 focus-within:ring-indigo-500" do %>
                  <span>Upload a file</span>
                  <%= form.file_field :logo, accept: "image/png, image/jpg, image/jpeg", class: "sr-only", required: current_action?("new") || current_action?("create") %>
                <% end %>
                <p class="pl-1"> PNG, JPG, JPEG</p>
              </div>
              <p class="text-xs text-gray-500">
                This will be used to show your user your company logo.
              </p>
            </div>
          </div>
        </div>

      </div>
      <div class="flex justify-between items-center px-4 py-3 bg-gray-50 text-right sm:px-6">
        <%= link_to "Back", shareable_links_path, class: "uppercase cursor-pointer inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-gray-400 hover:bg-gray-500" %>
        <%= form.submit "Save", class: "uppercase cursor-pointer inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-purple-600 hover:bg-purple-800" %>
      </div>
    <% end %>
  </div>
</div>