<p id="notice"><%= notice %></p>

<h1>Shareable Links</h1>

<table>
  <thead>
  <tr>
    <th>Tag</th>
    <th>Note</th>
    <th>Social link required</th>
    <th>Job required</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @shareable_link.each do |shareable_link| %>
    <tr>
      <td><%= shareable_link.tag %></td>
      <td><%= shareable_link.note %></td>
      <td><%= shareable_link.social_link_required %></td>
      <td><%= shareable_link.job_required %></td>
      <td><%= link_to 'Show', shareable_link %></td>
      <td><%= link_to 'Edit', edit_shareable_link_path(shareable_link) %></td>
      <td><%= link_to 'Destroy', shareable_link, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Shareable link', new_shareable_link_path %>
