<p id="notice"><%= notice %></p>

<p>Use this shareable url to collect testimonials for your product:
</p>
<p>
  <%= text_field_tag :weburl, collect_from_shareable_link_new_url(@shareable_link.tag, subdomain: false) %>
  <%= button_tag "Copy", :type => "button", :id => "clipboard-btn", :data => { :clipboard_action => "copy", :clipboard_target => "#weburl" } %>
</p>

<p>
  <strong>Tag:</strong>
  <%= @shareable_link.tag %>
</p>

<p>
  <strong>Note:</strong>
  <%= @shareable_link.note %>
</p>

<p>
  <strong>Social link required:</strong>
  <%= @shareable_link.social_link_required %>
</p>

<p>
  <strong>Job required:</strong>
  <%= @shareable_link.job_required %>
</p>

<p>
  <strong>Image required:</strong>
  <%= @shareable_link.image_required %>
</p>

<p>
  <strong>User:</strong>
  <%= @shareable_link.user_id %>
</p>

<%= image_tag @shareable_link.logo if @shareable_link.logo.attached? %>

<%= link_to 'Edit', edit_shareable_link_path(@shareable_link) %> |
<%= link_to 'Back', shareable_links_path %>

<%= javascript_pack_tag 'copy_clipboard' %>