<p id="notice"><%= notice %></p>

<p>Use this shareable url to collect testimonials for your product:</p>
<%= render "shared/copy_clipboard", key: @shareable_link.slug, content: collect_from_shareable_link_new_url(@shareable_link.slug, subdomain: false) %>

<p>
  <strong>Tag:</strong>
  <%= @shareable_link.tag %>
</p>

<p>
  <strong>Note:</strong>
  <%= @shareable_link.note %>
</p>

<p>
  <strong>Social link required:</strong>
  <%= @shareable_link.social_link_required.yesno %>
</p>

<p>
  <strong>Job required:</strong>
  <%= @shareable_link.job_required.yesno %>
</p>

<p>
  <strong>Image required:</strong>
  <%= @shareable_link.image_required.yesno %>
</p>

<p>
  <strong>Collected:</strong>
  <%= @shareable_link.testimonials.count %> testimonial(s)
</p>

<%= image_tag @shareable_link.logo if @shareable_link.logo.attached? %>


<%= link_to collect_send_email_new_path(@shareable_link.slug) do %>
  <p>Send link in <strong>email</strong> for me 📬</p>
<% end %>

<%= link_to 'Edit', edit_shareable_link_path(@shareable_link) %> |
<%= link_to 'Back', shareable_links_path %>

