<h1>Collect New Testimonial</h1>

<%= form_with(model: @testimonial, url: collect_from_shareable_link_create_path) do |form| %>
  <% if @testimonial.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@testimonial.errors.count, "error") %> prohibited this testimonial from being saved:</h2>

      <ul>
        <% @testimonial.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= image_tag @shareable_link.logo if @shareable_link.logo.attached? %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, required: true %>
  </div>

  <div class="field">
    <%= form.label :company %>
    <% if @shareable_link.job_required %>
      <%= form.text_field :company, required: true %>
    <% else %>
      <%= form.text_field :company, required: false %>
    <% end %>
  </div>

  <div class="field">
    <%= form.label :role %>
    <% if @shareable_link.job_required %>
      <%= form.text_field :role, required: true %>
    <% else %>
      <%= form.text_field :role, required: false %>
    <% end %>
  </div>

  <div class="field">
    <%= form.label :social_link %>
    <% if @shareable_link.social_link_required %>
      <%= form.text_field :social_link, required: true %>
    <% else %>
      <%= form.text_field :social_link, required: false %>
    <% end %>
  </div>

  <div class="field">
    <%= form.label :image %>
    <% if @shareable_link.image_required %>
      <%= form.file_field :image, required: true, accept: "image/png, image/jpg, image/jpeg" %>
    <% else %>
      <%= form.file_field :image, accept: "image/png, image/jpg, image/jpeg" %>
    <% end %>
  </div>

  <div class="field">
    <%= form.label :testimonial %>
    <%= form.text_area :testimonial, required: true %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<%= link_to 'Back', testimonials_path %>

