<div class="shadow-xl rounded sm:overflow-hidden flex flex-col px-4 py-6 sm:px-6">
  <h1 class="text-purple-600 font-black text-2xl mb-5 underline">Collect a Twitter post</h1>
  <%= form_with url: collect_twitter_post_new_path, method: :get do |form| %>
    <div class="flex flex-col space-y-4 items-start md:justify-center md:flex-row md:items-end md:space-x-4 ">
      <%= form.label :tweet_url, "Tweet URL:", class: "text-base text-gray-700 font-bold whitespace-nowrap" %>
      <%= form.text_field :tweet_url, required: true, autofocus: true, type: :url, class: "text-gray-500 text-xs w-full p-2 border-purple-200 border-2 rounded", placeholder: "https://twitter.com/elonmusk/status/1336351038106869760" %>
      <%= form.submit "Search", class: "uppercase cursor-pointer inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-purple-600 hover:bg-purple-800" %>
    </div>
  <% end %>

  <% if @tweet %>
    <div class="mt-12 border-t pt-5">
      <h1 class="font-bold text-gray-700 text-xl">Is this your Tweet?</h1>
      <%= render 'tweet/collect_tweet' %>
    </div>
  <% end %>
</div>