<%= render 'shared/page_content', page_title: 'Twitter post' do %>
  <%= render 'alerts/message' do %>
    <p>Copy and paste a Tweet post URL here to collect it.</p>
  <% end %>
  <%= form_with url: collect_twitter_post_new_path, method: :get do |form| %>
    <div class="form-field">
      <%= form.label :tweet_url, "Tweet URL:", class: "form-label" %>
      <%= form.text_field :tweet_url, required: true, autofocus: true, type: :url, class: "form-input", placeholder: "https://twitter.com/elonmusk/status/1336351038106869760" %>
    </div>
    <%= form.submit "Search", class: "btn btn-primary" %>
  <% end %>

  <% if @testimonial %>
    <div class="mt-12 border-t pt-5 flex flex-col space-y-4">
      <h1 class="font-bold text-gray-700 text-xl">Is this your Tweet?</h1>
      <%= render 'tweet/collect_tweet' %>
    </div>
  <% end %>
<% end %>