<%= form_with(model: testimonial) do |form| %>
  <% if testimonial.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(testimonial.errors.count, "error") %> prohibited this testimonial from being saved:</h2>

      <ul>
        <% testimonial.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user_name %>
    <%= form.text_field :user_name %>
  </div>

  <div class="field">
    <%= form.label :user_company %>
    <%= form.text_field :user_company %>
  </div>

  <div class="field">
    <%= form.label :user_role %>
    <%= form.text_field :user_role %>
  </div>

  <div class="field">
    <%= form.label :user_link %>
    <%= form.text_field :user_link %>
  </div>

  <div class="field">
    <%= form.label :user_testimonial %>
    <%= form.text_area :user_testimonial %>
  </div>

  <%= hidden_field_tag :collect_code, params[:collect_code] %>
  <%= hidden_field :testimonial, :user_id %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
