<%= form_with(model: testimonial) do |form| %>
  <% if testimonial.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(testimonial.errors.count, "error") %> prohibited this testimonial from being saved:</h2>

      <ul>
        <% testimonial.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :company %>
    <%= form.text_field :company %>
  </div>

  <div class="field">
    <%= form.label :role %>
    <%= form.text_field :role %>
  </div>

  <div class="field">
    <%= form.label :social_link %>
    <%= form.text_field :social_link %>
  </div>

  <div class="field">
    <%= form.label :testimonial %>
    <%= form.text_area :testimonial %>
  </div>

  <%= hidden_field_tag :tag, params[:tag] %>
  <%= hidden_field :testimonial, :user_id %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
