<%= form_with(model: testimonial, url: collect_from_hey_box_create_path) do |form| %>
  <% if testimonial.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(testimonial.errors.count, "error") %> prohibited this testimonial from being saved:</h2>

      <ul>
        <% testimonial.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, required: true %>
  </div>



  <div class="field">
    <%= form.label :company %>
    <% if @hey_box.job_required %>
      <%= form.text_field :company, required: true %>
    <% else %>
      <%= form.text_field :company, required: false %>
    <% end %>
  </div>

  <div class="field">
    <%= form.label :role %>
    <% if @hey_box.job_required %>
      <%= form.text_field :role, required: true %>
    <% else %>
      <%= form.text_field :role, required: false %>
    <% end %>
  </div>

  <div class="field">
    <%= form.label :social_link %>
    <% if @hey_box.social_link_required %>
      <%= form.text_field :social_link, required: true %>
    <% else %>
      <%= form.text_field :social_link, required: false %>
    <% end %>
  </div>

  <div class="field">
    <%= form.label :testimonial %>
    <%= form.text_area :testimonial, required: true %>
  </div>

  <%= hidden_field_tag :tag, params[:tag] %>
  <%= hidden_field :testimonial, :user_id %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
