<div class="rounded shadow-2xl px-6 py-4 max-w-md">
  <div class="flex items-center">
    <% if @testimonial.has_image? %>
      <%= link_to @testimonial.social_link, target: :_blank, class: "mr-4" do %>
        <%= display_image @testimonial, alt: "User of testimonial", class_names: "h-12 w-12 rounded-full" %>
      <% end %>
    <% end %>
    <div class="flex flex-col">
      <%= link_to @testimonial.name, @testimonial.social_link, class: "font-bold text-gray-900 hover:text-blue-500", target: :blank %>
      <%= content_tag :p, "#{@testimonial.role.titlecap} at #{@testimonial.company.titlecap}", class: "text-gray-600 text-sm" if @testimonial.role.present? && @testimonial.company.present? %>
    </div>
  </div>
  <div class=" mt-3 mb-1 leading-normal text-lg">
    <%= @testimonial.rich_text_or_content %>
  </div>
  <div class="text-grey my-3 text-sm">
    <%= formatted_date @testimonial.created_at, with_time_passed: false %>
  </div>
</div>
