<div data-controller="testimonials" class="flex flex-col items-center">
  <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
    <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
      <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
        <table class="max-w-full divide-y divide-purple-200">
          <thead class="bg-gray-50">
          <tr>
            <th scope="col" class="md:px-3 lg:px-6 px-1 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
              Name
            </th>
            <th scope="col" class="hidden md:table-cell md:px-3 lg:px-6 px-1 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
              Content
            </th>
            <th scope="col" class="md:px-3 lg:px-6 px-1 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
              Source
            </th>
            <th scope="col" class="hidden lg:table-cell md:px-3 lg:px-6 px-1 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
              Collected on
            </th>
            <th scope="col" class="md:px-3 lg:px-6 px-1 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
              Showcase
            </th>
            <th scope="col" class="relative md:px-3 lg:px-6 px-1 py-3">
              <span class="sr-only">View</span>
            </th>
          </tr>
          </thead>
          <tbody class="bg-white divide-y divide-gray-200">
          <% @testimonials.each do |testimonial| %>
            <tr class="hover:bg-purple-100">
              <td class="md:px-3 lg:px-6 px-1 py-4">
                <div class="flex items-center">
                  <div class="flex-shrink-0 h-10 w-10">
                    <%= display_image testimonial, class_names: "h-10 w-10 rounded-full", alt: "Testimonial user" %>
                  </div>
                  <div class="ml-4">
                    <div class="text-sm text-gray-900">
                      <%= testimonial.name %>
                    </div>
                  </div>
                </div>
              </td>
              <td class="hidden md:table-cell md:px-3 lg:px-6 px-1 py-4 ">
                <div class="text-sm text-gray-900">
                  <%= testimonial.content.truncate(100, separator: ' ') %>
                </div>
              </td>
              <td class="md:px-3 lg:px-6 px-1 py-4 whitespace-nowrap">
                <div class="text-sm text-gray-900">
                  <%= testimonial.source.capitalize %>
                </div>
              </td>
              <td class="hidden lg:table-cell md:px-3 lg:px-6 px-1 py-4 whitespace-nowrap">
                <div class="text-sm text-gray-900">
                  <%= formatted_date testimonial.created_at, with_time_passed: false %>
                </div>
              </td>

              <td class="md:px-3 lg:px-6 px-1 py-4 content-center text-left text-sm font-medium">
                <%= link_to toggle_showcase_testimonial_path(testimonial), method: :post, class: "cursor-pointer" do %>
                  <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full <%= testimonial.showcase ? "bg-green-100 text-green-800" : "bg-red-100 text-red-800" %>">
                    <%= testimonial.showcase.yesno %>
                  </span>
                <% end %>
              </td>

              <td class="md:px-3 lg:px-6 px-1 py-4 whitespace-nowrap text-right text-sm font-medium">
                <%= link_to testimonial, class: "text-purple-600 hover:text-purple-800 cursor-pointer" do %>
                  <svg class=" h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14 5l7 7m0 0l-7 7m7-7H3"/>
                  </svg>
                <% end %>
              </td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <%== pagy_nav(@pagy) %>
</div>

