<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @testimonial.name %>
</p>

<p>
  <strong>Company:</strong>
  <%= @testimonial.company %>
</p>

<p>
  <strong>Role:</strong>
  <%= @testimonial.role %>
</p>

<p>
  <strong>Social link:</strong>
  <%= @testimonial.social_link %>
</p>

<p>
  <strong>Testimonial:</strong>
  <%= @testimonial.testimonial %>
</p>

<p>
  <strong>Source:</strong>
  <% if @testimonial.tweet? %>
    Twitter
  <% else %>
  Shareable link: <%= link_to @testimonial.shareable_link.tag, @testimonial.shareable_link %>
  <% end %>
</p>

<p>
  <strong>Showcase:</strong>
  <%= @testimonial.showcase.yesno %>
</p>

<%= image_tag @testimonial.image if @testimonial.image.attached? %>

<%= link_to 'Back', testimonials_path %>
