<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @testimonial.name %>
</p>

<p>
  <strong>Company:</strong>
  <%= @testimonial.company %>
</p>

<p>
  <strong>Role:</strong>
  <%= @testimonial.role %>
</p>

<p>
  <strong>Social link:</strong>
  <%= @testimonial.social_link %>
</p>

<p>
  <strong>Content:</strong>
  <%= @testimonial.text %>
</p>

<p>
  <strong>Source:</strong>
  <% if @testimonial.tweet? %>
    Twitter
  <% else %>
    <%= @testimonial.shareable_link.nil? ? 'Shareable link (deleted)' : "Shareable link (#{link_to(@testimonial.shareable_link.tag, @testimonial.shareable_link)})".html_safe %>
  <% end %>
</p>

<p>
  <strong>Showcase:</strong>
  <%= @testimonial.showcase.yesno %>
</p>

<p>
  <strong>Collected on:</strong>
  <%= formatted_date @testimonial.created_at, with_time_passed: true %>
</p>

<%= image_tag @testimonial.image if @testimonial.image.attached? %>

<%= link_to 'Back', testimonials_path %>
