<main class="flex flex-col justify-center items-start">
  <p>
    <strong>Showcase:</strong>
    <span class="px-2 inline-flex leading-5 font-semibold rounded-full <%= @testimonial.showcase ? "bg-green-100 text-green-800" : "bg-red-100 text-red-800" %>">
    <%= @testimonial.showcase.yesno %>
    </span>
  </p>

  <p>
    <strong>Collected from:</strong>
    <% if @testimonial.tweet? %>
      <%= link_to 'Twitter', @testimonial.tweet_url, target: "_blank", class: "underline text-purple-500 font-bold" %>
    <% else %>
      <%= @testimonial.shareable_link.nil? ? 'Shareable link (deleted)' : "Shareable link #{link_to(@testimonial.shareable_link.tag, @testimonial.shareable_link, target: "_blank", class: "underline text-purple-500 font-bold")}".html_safe %>
    <% end %>
  </p>

  <p>
    <strong>Collected on:</strong>
    <%= formatted_date @testimonial.created_at, with_time_passed: true %>
  </p>

  <div class="my-8">
    <% if @testimonial.tweet? %>
      <%= render 'tweet_testimonial' %>
    <% else %>
      <%= render 'text_testimonial' %>
    <% end %>
  </div>
  <div class="flex flex-row gap-4">
    <%= link_to 'Back', testimonials_path, class: "bg-gray-500 hover:bg-gray-900 focus:outline-none transition text-white px-2 py-1 rounded" %>
    <%= link_to 'Remove', @testimonial, class: "bg-red-400 hover:bg-red-600 focus:outline-none transition text-white px-2 py-1 rounded", method: :delete, data: { confirm: 'Are you sure?' } %>
  </div>
</main>