<h1>Collect#video</h1>

<%= form_with(model: @testimonial, url: video_testimonials_path, method: :post, id: "testimonial-video-form", local: false) do |form| %>

  <% if @testimonial.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@testimonial.errors.count, "error") %> prohibited this testimonial from being saved:</h2>

      <ul>
        <% @testimonial.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.label :user_name %>
  <%= form.text_field :user_name %>

  <%= form.label :user_company %>
  <%= form.text_field :user_company %>

  <%= form.label :user_role %>
  <%= form.text_field :user_role %>

  <%= form.label :user_link %>
  <%= form.text_field :user_link %>

  <div data-uppy="testimonial[video]">
    <%= button_to 'Select video', '#', data: { behavior: "uppy-trigger" } %>
  </div>
<% end %>

<%= link_to 'Back', collect_path %>

<%= javascript_pack_tag 'uppy_upload' %>